.game{
    text-align: center;
}

.symbolSelection .btn{
        margin: 10px;
}

.board{
    margin-top: 20px;
    background-color: #68c8cb;
    padding: 0px;
    box-shadow: 5px 5px 10px 10px #888888;
}

.row .row {
    margin-right: -15px;
    margin-left: -15px;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.loader{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.blank {
    background: transparent;
}

.scores p{
    display: inline-block;
    margin: 5px;
}

.myTurn{
    color: #68c8cb;
}

button{
    margin-left: 5%;
    margin-top: 2%;
    color: #68c8cb;
    background-color: white;
    border: 1px solid #68c8cb;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
}

.blank img:hover {
    outline: 5px outset gray;
}

.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}