<div class="game">
    <div *ngIf="loading" class="overlay" (click)="onOverlayClicked($event)">
      <img (click)="onDialogClicked($event)" class="loader" src="../../assets/images/spinner.gif" />
    </div>  
  <div class="row">
    <button type="button" class="btn scoreBoardBtn" (click)="showScoreBoard()">Score Board</button>
  </div>
  <div class="symbolSelection" *ngIf="!player1 || player1.symbol == ''">
    <p>Are you an X or an O?</p>
    <button type="button" class="btn" (click)="selectSymbol('X')">X</button>
    <button type="button" class="btn" (click)="selectSymbol('O')">O</button>
  </div>  
  <div *ngIf="player1 && player1.symbol !==''">
      <div class="scores">
        <p [ngClass]="{'myTurn': currentTurn == player1}"> Player 1 ({{player1.nickname}}): {{player1.score}}</p>
        <p [ngClass]="{'myTurn': currentTurn == player2}"> Player 2 ({{player2.nickname}}): {{player2.score}}</p>
      </div>
    <div class="board container col-12 col-sm-8 col-lg-6">
      <div class="row">
        <div id="0_0" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="0_1" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="0_2" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
      </div>
      <br>
      <div class="row">
        <div id="1_0" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="1_1" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="1_2" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
      </div>
      <br>
      <div class="row">
        <div id="2_0" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="2_1" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
        <div id="2_2" [ngClass]="{'disabled': currentTurn == player2}" (click)="playTurn($event)" class="col-lg-4 col-sm-4 col-4 blank">
          <img [src]=blank_img_path class="img-responsive">
        </div>
      </div>
    </div> 
  </div> 
</div>
