.topBar{
    width: 100%;
    height: 65px;
    background-color: #68c8cb;
  }
  
  .topBarHeader{
      color: white;
      font-size: 50px;
  }
  
  .talkSpaceLogo{
    width: 75px;
    height: 65px;
    float: left;
    margin: 0 40px;
  }
  