<!--The content below is only a placeholder and can be replaced.-->
<div class="topBar">
    <img class="talkSpaceLogo" src="../assets/images/logo.png">
    <span class="topBarHeader">TalkSpace Tic Tac Toe</span>
</div>
<router-outlet></router-outlet>
