<h1 mat-dialog-title>Score Board</h1>
<div mat-dialog-content>
  <table>
    <thead>
      <tr>           
        <th>Position</th>
        <th>Nickname</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of data; let i = index">           
        <td>{{i + 1}}</td>
        <td>{{player.nickname}}</td>
        <td>{{player.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onThanksClick()">Thanks</button>
</div>