<div class="loginPage container">
  <h1>Welcome To Tic Tac Toe!
  </h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      Nickname:
      <input type="text" formControlName="nickname" placeholder="your nickname.." required>
    </label>
    <button type="submit" [disabled]="!loginForm.valid">Start Game</button>
    <p [hidden]="!error" class="error">{{error}}</p>
  </form>
</div>
