label {
    display: inline-block;
    width: 20em;
    margin: 0.5em 0;
    color: #68c8cb;
    font-weight: bold;
  }
  
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  display: block;
  font-family: Arial;
  font-size: 20px;
  color: #68c8cb;
  background-color: white;
  border: 1px solid #68c8cb;
  padding: 5px 10px;
  border-radius: 4px;
  height: 40px;
  width: auto;
  cursor: pointer;
}

h1{
  color: #68c8cb;
}